<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>HTWK-Kalender to iCal</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>

    <%= @e %>

    <h1>HTWK-Kalender to iCal für das <%= @htwk["semester"] %></h1>
    <p>Dieses Script wandelt den HTWK-Kalender, den ihr unter
      <a href="http://www.htwk-leipzig.de/de/studierende/online-services/lehrveranstaltungsplan/matrikel-seminargruppenplan/">http://www.htwk-leipzig.de</a>
      abrufen könnt, in das universelle iCal Format um. Somit könnt ihr euren HTWK-Kalender
      überall da benutzen, wo iCal unterstützt wird.</p>
    <p>Es gibt nur Anleitungen f&#252;r Outlook, Sunbird, Evolution und Google Calendar.
      Aber es m&#252;ssten eigentlich alle anderen Programme funktionieren, die
      iCal unterst&#252;tzen.</p>
    <p>Ich habe diese Version komplett in wundervollem Ruby neugeschrieben.
      <br /><a href="http://www.ruby-lang.org/">http://www.ruby-lang.org/</a></p>
    <p><strong>Ich würde mich &#252;ber jegliche Kritik, Erfahrungsbericht,
        Feedback, Beleidigungen freuen. Auch falls ihr Fragen habt oder in der
        Anleitung irgendwas unklar ist, einfach eine Mail an:
        ben [ätt] nerdlabor [punkt] de</strong></p>
    <p style="color:#FF0000;">WICHTIG: Nutzung auf eigene Gefahr.
      Also falls mal irgendwas Falsches drinsteht und ihr die Vorlesung verpennt,
      kann ich nix für :).</p>
    <p>
      <a href="#kalenderlink">Kalenderlink erstellen</a><br /><br />
      Kalender importieren in<br />
      <a href="#sunbird">Sunbird / Thunderbird mit Lightning</a><br />
      <a href="#evolution">Evolution</a><br />
      <a href="#outlook">Microsoft Office Outlook 2007</a><br />
      <a href="#outlook2">ältere Outlook</a><br />
      <a href="#google">Google Calendar</a><br /><br />
      <a href="#handy">Kalender aufs Handy</a><br />
      <a href="#faq">Frequently Asked Questions</a>

    </p>
    <h1>Anleitungen</h1>
    <h2><a name="kalenderlink">Kalenderlink erstellen für das <%= @htwk["semester"] %></a></h2>
    <p>Der Kalenderlink ist wichtig, damit du auch deinen Studiengang importieren kannst.</p>
    <p>Mit dem nachfolgenden Formular lässt sich der eigene Kalenderlink erstellen.
      Man sollte Jahrgang, Studiengang und Abschluss auswählen.
      Bei manchen Studiengängen ist die Seminargruppe schon vorhanden
      (z.B. bei "AR1/VHB"). Daher sollte man, wenn man sich nicht sicher ist,
      das Studiengangskürzel anschauen. <span style="color:red; font-weight: bold;">Falls ihr überhaupt keine Ahnung
      habt welches Kürzel ihr braucht, dann geht auf euren HTWK-Kalender und
      schaut in der Adresszeile im Browser nach.
      Dort steht nach "name;" euer Kürzel.</span></p>

    <p><%= @p %></p>
    <form method="get" action="/choose">
      <table border="1" cellspacing="0" cellpadding="5">
        <tr>
          <td rowspan="4"><strong><%= @htwk["semester"] %></strong><br/>(<%= @htwk["zeitraum"] %>)</td>
        </tr>
        <tr>
          <td>Jahrgang</td>
          <td>Studiengang</td>
          <td>Seminargruppe<span style="color: red;font-weight:bold;">*</span></td>
          <td>Abschluss</td>
        </tr>
        <tr>
          <td>
            <select name="post[jahrgang]">
              <% @htwk["jahrgang"].each do |n| %>
                <option value="<%= n %>"><%= n %></option>
            <% end %></select>
          </td>
          <td>
            <select name="post[studiengang]">
              <% @htwk["studiengang"].each do |n| %>
                <option value="<%= n %>"><%= n %></option>
                <% end %>
              </select>
          </td>
          <td>
            <select name="post[seminargruppe]">
              <% @htwk["seminargruppe"].each do |n| %>
                <option value="<%= n %>"><%= n %></option>
                <% end %>
              </select>
          </td>
          <td>
            <select name="post[abschluss]">
              <% @htwk["abschluss"].each do |n| %>
                <option value="<%= n %>"><%= n %></option>
            <% end %></select>
          </td>
        </tr>
        <tr>
          <td colspan="4"><input type="submit" name="post[submit]" value="Go" /></td>
        </tr>
      </table>
    </form>
    <p><span style="color: red;font-weight:bold;">*</span>Die Seminargruppe
      sollte nur gewählt werden wenn eine vorhanden ist (Wenns keine
      Seminargruppen gibt, dann auch keine 1 eintragen)</p>
    <h2><a name="sunbird">Sunbird / Thunderbird mit Lightning</a></h2>
    <ol>
      <li>Erstelle deinen Kalenderlink.</li>
      <li>Öffne Sunbird</li>
      <li>Klick auf "Datei" -> "Einen neuen Kalender erstellen".</li>
      <li>Es öffnet sich ein Assistent bei dem du "Im Netzwerk" wählen und auf
        "Weiter" klicken musst.</li>
      <li>Wähle dann beim Format "iCalendar (ICS)" aus und gib deinen
        Kalenderlink ein.</li>
      <li>Klick auf "Weiter". Gib dann deinem Kalender einen Namen und eine
        Farbe und klick nochmals auf "Weiter".</li>
      <li>Jetzt auf "Fertig" klicken. Danach sollte dein Kalender angezeigt
        werden. Wenn nicht: Do it all again!</li>
    </ol>
     <h2><a name="evolution">Evolution</a></h2>
    <ol>
      <li>Erstelle deinen Kalenderlink.</li>
      <li>Evolution in der Kalenderansicht: Datei > Neu > Kalender</li>
      <li>Art "Im Web" auswählen</li>
      <li>Den Kalenderlink unverändert in das URL-Feld kopieren.</li>
      <li>Nun noch Namen vergeben und das wars, dieser Kalender wird nun
        künftig aktualisiert.</li>
    </ol>
    <h2><a name="outlook">Microsoft Office Outlook 2007</a></h2>
    <ol>
      <li>Erstelle deinen Kalenderlink.</li>
      <li>Outlook in der Kalenderansicht: Extras > Kontoeinstellungen</li>
      <li>Reiter "Internetkalender" auswählen, dort mit "Neu..." einen
        Internetkalender anlegen</li>
      <li>Den Kalenderlink in das URL-Feld kopieren.</li>
      <li>Nun noch Namen vergeben und das wars, dieser Kalender wird nun
        künftig aktualisiert.</li>
    </ol>
    <h2><a name="outlook2">ältere Microsoft Office Outlook</a></h2>
    <ol>
      <li>Erstelle deinen Kalenderlink und speichere deine Kalenderdatei ab.</li>
      <li>Öffne Outlook und klick auf "Datei" -> "Importieren/Exportieren...".</li>
      <li>Wähle dort "iCalendar- oder vCalendar-Datei (.vcs) importieren" aus
        und klicke auf "Weiter".</li>
      <li>Suche deine Datei, wähle sie aaus und klick auf "Ok".</li>
      <li>Wenn kein Fehler kommt, schau in deinem Kalender nach, ob alle
        Einträge vorhanden sind. Wenn ja:Glückwunsch und viel Spaß, Wenn Nein:
        Do it all again.</li>
    </ol>
    <h2><a name="google">Google Calendar</a></h2>
    <p>Bei Google Calendar gibt es zwei Möglichkeiten deinen Kalenderlink
      einzubinden. Ich bevorzuge erstere, da diese Methode, den Kalendar bei
      eventuellen Änderungen automatisch auch in meinem Google Calendar ändert.
      Bei der zweiten Methode, wird nur die Version des Kalenders benutzt, die
      zum Zeitpunkt des Speicherns vorlag. Falls Professoren, etc. den Kalender
      nachträglich ändern, wird euer Kalender dann NICHT automatisch
      aktualisiert.</p>
    <h3>Möglichkeit 1:</h3>
    <ol>
      <li>Erstelle deinen Kalenderlink.</li>
      <li>Klicke links unten in deinem "Weitere Kalender"-Feld auf "Hinzufügen".
        Dann auf "über URL hinzufügen"</li>
      <li>Gib dann deinen Kalenderlink ein und klicke auf "Hinzufügen".</li>
      <li>Nun müsste der Kalender bei dir erscheinen (kann aber ein paar Minuten
        dauern). Wenn nicht: Do it all again.</li>
    </ol>
    <h3>Möglichkeit 2:</h3>
    <ol>
      <li>Erstelle deinen Kalenderlink.</li>
      <li>Klicke links unten in deinem "Weitere Kalender"-Feld auf "Hinzufügen".
        Dann auf "Kalender importieren"</li>
      <li>Folge danach den Anweisungen.</li>
    </ol>
    <h2><a name="handy">Kalender aufs Handy</a></h2>
    <p>Zuerst musst du den Kalender nach obigen Anleitungen in Outlook,
      Sunbird oder irgendwas anderes importieren, je nachdem mit welchen
      Programm sich deine Handysoftware synchronisieren kann. Somit
      müssten eigentlich alle Handytypen funktionieren, die diese Funktion
      unterstützen.</p>
    <p>Für Sony Ericsson Handy- und Windowsnutzer gibt es "MyPhoneExplorer" mit
     dem du nahezu jedes Sony Ericsson mit iCal befüttern kannst.
     <a href="http://www.fjsoft.at/de/downloads.php">Download hier</a></p>
    <h2><a name="faq">FAQ</a></h2>
    <p class="faq">1. iCal? Was denn das?</p>
    <p>Das iCal-Format ist ein universelles Kalenderformat von Apple, welches
      von Outlook, Sunbird, Google Calender und vielen anderen Programmen
      gelesen werden kann. Somit kannst du dir die  Datei hinexportieren wohin
      du willst. Check:
      <a href="http://de.wikipedia.org/wiki/ICalendar">http://de.wikipedia.org/wiki/ICalendar</a>
    </p>
    <p class="faq">2. Ich studiere Druck- bzw. Verpackungstechnik (Diplom) und beim
      Laden des Scripts kommt ein Fehler bei der Eingabe.</p>
    <p>Der HTWK-Kalender für diesen Studiengang ist zusammengefasst und es muss
      das Kürzel "DV/DT" bzw. "DV/VT" benutzt werden.</p>
    <p class="faq">3. Ich nutze MacOS und alle Events sind um eine Stunde verschoben.</p>
    <p>Hier solltest du überprüfen ob im Betriebssystem selbst die
      falsche Zeitzone mit der "richtigen" Zeit gewählt wurde und ggf.
      umstellen.</p>
    <p class="faq">4. Mein Studiengang, Seminargruppe, Abschluss oder irgendetwas
      anderes fehlt.</p>
    <p>Falls du mitbekommst das irgendetwas fehlt, dann schreib mir einfach
      eine Mail.</p>
    <p class="faq">5. Mein Outlook 2003 möchte die Kalenderdatei nicht schlucken!</p>
    <p>Öffne die Datei mit einem Editor, der NICHT der Windows Editor ist. Suche
      VERSION:2.0 und mach ein VERSION:1.0 draus und hoffe das es dann
      funktioniert.</p>
  </body>
</html>
