<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>HTWK-Kalender to iCal</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h1>HTWK-Kalender to iCal</h1>
    <p>Das ist ein erster Test</p>
    <p><%= @p %></p>
    <form method="get" action="/choose">
      <table border="1" cellspacing="0" cellpadding="5">
        <tr>
          <td>Jahrgang</td>
          <td>Studiengang</td>
          <td>Seminargruppe</td>
          <td>Abschluss</td>
        </tr>
        <tr>
          <td>
            <select name="post[jahrgang]">
              <option value="08">09</option>
              <option value="08">08</option>
              <option value="07">07</option>
              <option value="06">06</option>
            </select>
          </td>
          <td>
            <select name="post[studiengang]">
<% @studiengang.sort.each do |n| %>
    <option value="<%= n %>"><%= n %></option>
<% end %></select>
          </td>
          <td>
            <select name="post[seminargruppe]">
              <option value=""></option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </td>
          <td>
            <select name="post[abschluss]">
              <option value="D">Diplom</option>
              <option value="B">Bachelor</option>
              <option value="M">Master</option>
              <option value="F">Frühstudium</option>
              <option value="T">Teilstudium</option>
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="4"><input type="submit" name="post[submit]" value="Go" /></td>
        </tr>
      </table>
    </form>
    <p><%= @link %></p>
    <p><%= @cal_string %></p>
  </body>
</html>